body {
    margin: 0;
    font-family: monospace;
    font-size: 15px;
}

/* Header styles */
header {
    height: 100vh;                  /* Full screen height */
    background-color: #2196F3;
    text-align: center;

    display: flex;                  /* Center content */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    color:white;
    margin-bottom: 20px;
    font-size: 36px;
}

/* Button styles */
.a {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    background-color: white;
    color: #2196F3;
    font-weight: bold;
    transition: 0.3s;
}

.a:hover {
    background-color: yellow;
    color: black;
}
